---
layout: default
---

<h1>Conference Schedule</h1>


{% assign sessions = site.sessions | sort: 'start_time' %}
{% assign max_track_number = 0 %}

{% for session in sessions %}
  {% if session.track > max_track_number %}
    {% assign max_track_number = session.track %}
  {% endif %}
{% endfor %}

<div class="schedule">
  {% for session in sessions %}
    {% capture start_time %}{{ session.start_time | date: "%H:%M" }}{% endcapture %}
    {% capture end_time %}{{ session.end_time | date: "%H:%M" }}{% endcapture %}

    {% if session.type == "plenary" %}
      <div class="plenary-session" style="grid-column: span {{max_track_number}};grid-row: {{ forloop.index }}">
        <div class="session-info">
          <h3>{{ session.title }}</h3>
          <p>{{ session.speaker }}</p>
          <p>{{ start_time }} - {{ end_time }}</p>
	  <a href="{{ session.url | relative_url }}" class="learn-more">Details</a>
        </div>
      </div>
    {% else %}
      <div class="{{ session.type }}-session" style="grid-column: {{ session.track }};grid-row: {{ forloop.index }};">
        <div class="session-info">
          <h3>{{ session.title }}</h3>
          <p>{{ session.speaker }}</p>
          <p>{{ start_time }} - {{ end_time }}</p>
	  <a href="{{ session.url | relative_url }}" class="learn-more">Details</a>
        </div>
      </div>
    {% endif %}
  {% endfor %}
</div>
