---
layout: page
title: Program
---


<article>

  {% if site.data.conference.draft %}
  <h2>Draft Version</h2>
  {% endif %}
 
  {{ content }}
  
  <ul>
    {% for session in site.sessions reversed %}
    {% if session.layout == "multitrack"%}
    {% include listmulti.html %}
    {% endif %}
    {% endfor %}

    
    {% for session in site.sessions reversed %}
    {% if session.layout == "singletrack" %}
    {% include listsingle.html %}
    {% endif %}
    {% endfor %}

  </ul>

  
</article>


	
	
